.navContainer
{
  width: 100%;
  background-color: rgb(200, 200, 250);
  padding: 0.001rem;
  margin-bottom: 2em;
}

.navList
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap:1em;
  list-style-type: none;
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;

  width: 60%;
  height: auto;
  max-height: 50vh;

  margin-bottom: 2em;
  margin-top: 2em;;
}