.navContainer
{
  width: 100%;
  background-color: rgb(200, 200, 250);
  padding: 0.001rem;
  margin-bottom: 1em;
}

.navList
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap:1em;
  list-style-type: none;
}

img
{
  width: 100%;
  max-height: 55vh;
}