<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBD</title>

    <link rel="stylesheet" href="../css/navStyle.css">
  </head>

  <body>

    <header>
      <nav class="navContainer">

        <ul class="navList">
          <li> <a>Home</a> </li>
          <li> <a>About</a> </li>
          <li> <a>All Posts</a> </li>
          <!-- <li></li> -->
        </ul>

      </nav>
    </header>

    <main>
      <article class="blogPiece">
        <h1 class="blogHeading"></h1>
      </article>
    </main>

  </body>

</html>